.slider_container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .slider {
    margin-top: 2vh;
    width: 8vw;
    appearance: none;
    height: 1.8vh;
    background: rgb(235, 235, 240);
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
    border-radius: 5px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 2.75vh;
    height: 2.75vh;
    background: rgb(30, 30, 30);
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: rgb(50, 50, 50);
    cursor: pointer;
    border-radius: 50%;
  }
  
  .selected_speed {
    width: 100%;
    margin-top: 10px;
    font-size: 1.8vh;
    font-weight: 300;
  }

  .selected_speed span {
    font-size: 2vh;
    font-weight: 800;
  }